nav
	div.container.topbar
		div.burger.visible-xs
			i.fa.fa-bars(aria-hidden="true")

		div.logo
			img.img-responsive(src="img/sensalogo.svg")
		div.menu.hidden-xs
			ul
				li 
					a(href="index.html") Inicio
				li 
					a(href="#") Cliente Sensa
				li 
					a(href="#") Sucursales
				li
					a(href="#") Proveedores
				li 
					a(href="contact.html") Contacto