nav
	div.container.topbar
		div.burger.visible-xs
			i.fa.fa-bars(aria-hidden="true")

		div.logo
			a(href="index.html")
				img(src="img/sensalogo.svg")
		div.menu.hidden-xs
			ul
				li.index 
					a(href="index.html") Inicio
				li.clients 
					a(href="login.html") Cliente Sensa
				li.branch 
					a(href="sucursal.html") Sucursales
				//- li
				//- 	a(href="#") Proveedores
				li.contact 
					a(href="contact.html") Contacto