html
	head
		title Sensa
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(href="css/normalize.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		//- menu mobil
		include ./components/mobil-menu/index.jade
		section
			include ./components/nav/nav.jade
			//- include ./components/topbar/index.jade
		div.title-bar
			div.container
				h1 Contacto

		main.container.contact
			br
			br
			div.row
				div.col-sm-4.col-sm-offset-2
					h4 Culiacan, Sinaloa. Sucursal Bravo
					hr
					p Surtidora Electrica del Noroeste SA de CV, Tel: (667), mail: bravo@sensa.com.mx RFC: SEN840615-5U8
				div.col-sm-4
					h4 La Paz, B.C.S
					hr
					p Calle Chiapas 3290-3 Col: Las Garzas C.P: 23070 Tel: (612) 12-94-196 mail: lapaz@sensa.com.mx RFC: SEN-840615-5U8
			div.row
				div.col-sm-4.col-sm-offset-2
					h4 Culiacan, Sinaloa. Bella Vista-Cedis
					hr
					p Carretera a Culiacancito #8333-A Tel: 9 92 16 51, 9 92 16 52 mail: sensa@sensa.com.mx
				div.col-sm-4
					h4 Ensenada, B.C.N
					p Calle Castillo N. 230 Zona Centro C.P: 22800 Tel: (646) 1763540 mail: ensenada@sensa.com.mx RFC: SEN840615-5U8.
			div.row
				div.col-sm-4.col-sm-offset-2
					h4 Culiacan, Sinaloa. Insurgentes
					hr
					p Insurgentes #831 Sur Centro Sinaloa Tel: (667) 7147050 mail: sensa@sensa.com.mx
				div.col-sm-4
					h4 Mexicali, B.C.N
					hr
					p Blvd. Lázaro Cardenas #1377 Col. Independencia C.P.21290 Tel: (686) 5655526, 5640646 y 5676502 mail: mexicali@sensa.com.mx RFC: SEN840615-5U8
			div.row
				div.col-sm-4.col-sm-offset-2
					h4 Hermosillo, Sonora
					hr
					p Blvd. José María Morelos #267 Col. Loma Linda C.P: 83150 Tel: (662) 215 62 82, 2 10 72 93, 2 15 46 79, con 3 líneas Fax 2 15 69 9 mail: hermosillo@sensa.com.mx
				div.col-sm-4
					h4 Tijuana, B.C.N
					hr
					p Callejón del Carmen #3765, Col 20 de noviembre C.P: 22430 Tel: (664) 6814028 mail: tijuana@sensa.com.mx RFC: SEN840615-5U8
			div.row
				div.col-sm-4.col-sm-offset-2
					h4 Nogales, Sonora
					hr
					p SENSA Surtidora Electrica, S.A. DE C.V. Blvd. Luis Donaldo Colosio No. 4100 Bodega No. 7, Col. Encinos, C.P: 84064 TELS (01 631) 314 6025, (01 631) 319 2416 mail: nogales@sensa.com.mx RFC: SSE-891128-MB9
				
			section.formulario
				div.form-title
					
					h3 Contactanos
					h4 Su opinión es importante
				form.form-input
					div.row
						div.col-sm-4.col-sm-offset-2
							div.form-group
								input.form-control(type="text", placeholder="E-mail")
							div.form-group
								input.form-control(type="text", placeholder="Nombre")
						div.col-sm-4
							div.form-group
								textarea.form-control(type="text", placeholder="Comentarios")
							hr
							button.btn.btn-info(type='button') Enviar

		footer
			include ./components/footer/index.jade
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
		script localStorage.setItem('page', 'contact')
		script(src='js/app.js')

