html
	head
		title Sensa
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(href="css/normalize.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		//- menu mobil
		include ./components/mobil-menu/index.jade
		section
			include ./components/nav/nav.jade
			//- include ./components/topbar/index.jade
		main.login
			div.login-box
				img.clientesensa(src="img/sensaclientes.png")
				form()
					div.inputgroup
						label Número de Cliente
						input()
					div.inputgroup
						label Contraseña
						input()
					button.enterlogin Entrar
			div.pielogin
				p Si aún no lo tienes, 
					a(href="#") solicita tu numero de cliente
				p
					a(href="#")¿Olvidaste tu contraseña?


		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
		script localStorage.setItem('page', 'clients')
		script(src='js/app.js')

