
div.container
	div.row
		div.col-md-5.slimtext
			span Surtidora Eléctrica del Noroeste
			br
			span SA de CV. Tdoos los derechos reservados.
			br
			br
			a(href="#") Aviso de Privacidad
		div.col-md-3.text-center.minimap
			img(src="img/mexico.svg")
			br
			button(onclick='window.location.href="branch.html"').viewmore Mas detalles
		div.col-md-3
			h2(style="line-height: 0.1em") 7 sucursales
			p en todo el pais
			hr
			ul
				li Culiacán, Sinaloa
				li Tijuana, BCN
				li Mexicali, BCN
				li Ensenada, Baja California Norte
				li La paz, Baja California Sur
				li Hermosillo, Sonora
				li Nogales, Sonora
