
div.container
	div.row
		div.col-md-5.slimtext
			span Surtidora Eléctrica del Noroeste
			br
			span SA de CV. Tdoos los derechos reservados.
			br
			br
			a(href="#") Aviso de Privacidad
		div.col-md-3.text-center.minimap
			img(src="img/mexico.svg")
			br
			button.viewmore Mas detalles
		div.col-md-3
			h2 7 sucursales
			p en todo el pais
			ul
				li La paz, Baja California Sur
				li Ensenada, Baja California Norte
				li Hermosillo, Sonora
				li Nogales, Sonora
				li Culiacán, Sinaloa
				li Guadalajara Jalisco
