footer
	background-color $sensa-blue
	color white
	padding-top 2em
	padding-bottom 2em
	text-align center
	a
		color white
		&:hover
			color orange
			text-decoration none
	.minimap
		padding-top 2em
	.viewmore
		background-color #6B4DCC
		border 0
		box-shadow 0 0 5px black
		padding 0.4em
	.states
		a
			transition all 0.2s ease
		a:hover
			color $sensa-red
			text-decoration none
		
@media (min-width $screen-md)
	footer
		text-align left