//- TOPBAR
nav
	div.container.topbar
		div.burger.visible-xs
			i.fa.fa-bars(aria-hidden="true")

		div.logo
			img.img-responsive(src="img/sensalogo.svg")
		div.menu.hidden-xs
			ul
				li Inicio
				li Cliente Sensa
				li Sucursales
				li Proveedores
				li Contacto
div.banner
	div.container
		h1 40 Años ofrenciendo soluciones a su servicio
div.system.container
	div.box.text-center
		h1.slimtext Utiliza tu cuenta de Cliente Sensa
		//- span Si aún no la tienes, solicitala ahora
		br
		div.row.allicons
			div.col-xs-6.col.col-sm-2
				img(src="img/icon1.svg")
				p Consulta tus facturas
					br
					span y saldo
			div.col-xs-6.col.col-sm-2
				img(src="img/icon2.svg")
				p Descarga
					br
					span Comprobantes
			div.col-xs-6.col.col-sm-2
				img(src="img/icon3.svg")
				p Elabora
					br
					span Cotizaciones
			div.col-xs-6.col.col-sm-2
				img(src="img/icon3.svg")
				p Genera pedidos
					br 
					span en línea
			div.col-xs-12.col.col-sm-4.circle-wrap
				div.float
					div.circle
						img(src="img/control.png")
					h4 Entrar



