$banner-height = 70vh
.banner
	// background-image url('../img/banner1.jpg')
	color white
	height $banner-height
	.slidershow
		padding 0
		list-style none
		height $banner-height
		position relative
		li
			height $banner-height
			position absolute
			width 100%
			>div
				height $banner-height
				display flex
				flex-flow column
				align-items fex-start
				justify-content center
			.pie
				background-color lime
				text-align center
			.text
				padding-left 10%
				h1
					position relative
					width 12em
					font-size 3em
					font-weight 100
					text-shadow 0px 0px 10px black
					background-color rgba(0,1,31,0.4)
					padding 0.2em

	.container
		display flex
		align-items center
		height 100%
		h1
			position relative
			font-size 3em
			font-weight 100
			margin-left 20px
			width 12em
			text-shadow 0px 0px 10px black
			background-color rgba(0,1,31,0.4)
			padding 0.2em
			// &:before
			// 	content ""
			// 	background-color $sensa-red
			// 	width 7px
			// 	position absolute
			// 	height 1em
			// 	left -20px
				

.system
	position relative
	padding-right 0px
	padding-left 0px
	min-height 20em
	padding-bottom 2em
	hr 
		opacity 0.2
		
	.box
		// position absolute
		// width 100%
		top -5em
		background-color $sensa-blue
		background-linear-gradient(top, #FF3F3E, 5%, #A01E1F, 85%)
		min-height 15em
		color white
		padding 1em
		box-shadow 0px 0px 10px black
		.allicons
			img
				width 3em
		.circle-wrap
			position relative
		// 	display flex
		// 	flex-flow column
		// 	align-items center
		// 	position relative
		// 	a
		// 		color white
		// 		&:hover
		// 			text-decoration none
					
			// .float
			// 	right 35%
			// 	top -4em
				
			// .circle
			// 	background-color $sensa-blue
			// 	width 8em
			// 	height 8em
			// 	border-radius 40em	
			// 	padding 3em
			// 	display flex
			// 	justify-content center
			// 	align-items center
		
.ch-grid
	width 14em
	height 11em
	list-style none
	// position absolute
	left 0
	right 0
	margin-left auto
	margin-right auto
	top 0em
	cursor pointer
	.ch-item
		cursor pointer
@media (min-width $screen-sm)
	nav
		.topbar
			.logo
				text-align left
	.system
		padding-right 15px
		padding-left 15px
		.box
			position absolute
			width 100%
			.float
				position absolute
	.banner
		height $banner-height		


