//- TOPBAR

div.banner
	ul.slidershow
		li
			div(style='background-image: url("img/ensenada-banner.jpg")')
				div.text
					h1 Soluciones a su servicio desde 1975
					//- p.pie pie
			
		li
			div(style='background-image: url("img/banner1.jpg")')
				div.text
					h1 Soluciones a su servicio desde 1975
					//- p.pie elelleell
			

	
div.system.container
	div.box.text-center
		h1.slimtext Utiliza tu cuenta de Cliente Sensa
		//- span Si aún no la tienes, solicitala ahora
		br
		br
		div.row.allicons
			div.col-xs-6.col.col-sm-2
				img(src="img/icon2.svg")
				hr
				p Consulta tus facturas y saldos
			div.col-xs-6.col.col-sm-2
				img(src="img/icon2.svg")
				hr
				p Descarga
					br
					span Comprobantes
			div.col-xs-6.col.col-sm-2
				img(src="img/icon3.svg")
				hr
				p Elabora
					br
					span Cotizaciones
			div.col-xs-6.col.col-sm-2
				img(src="img/icon3.svg")
				hr
				p Genera pedidos
					br 
					span en línea
			div.col-xs-12.col.col-sm-4.circle-wrap
				//- div.float
				//-     a(href="login.html")
				//-         div.circle
				//-             //- img(src="img/control.png")
				//-         h4 Entrar
				ul.ch-grid
					li
						.ch-item.ch-img-1
							.ch-info
								h3 Entrar
								//- p
								//-     | Clientes Sensa
								//-     a(href='http://drbl.in/eODP') View on Dribbble



